.img-full-size img {
  height: 25em;
}
.img-medium-size img {
  height: 18em;
}
.img-smallish-size img {
  height: 15em;
}

.img-small-size img {
  height: 10em;
}

.code-review-commic img {
  width: 35em;
}

.non-violent-pic img {
  float: left;
  height: 20em;
}

.non-violent-slide blockquote {
  margin-top: 6em;
}
